/* mobile first (default) */
:root {
    font-size: 150%;
    border: 1px solid #0cacac;
}

/* responsivity */

/* 
* mobile phone (not relevant, cause it set by default)
*
@media (min-width: 576px){
    :root {
        font-size: 2.5em;
    }
} 
*/

/* tablet */
@media (min-width: 768px){
    :root {
        font-size: 120%;
        border: 1px solid #2816cc;
    }
}

/* desktop */
@media (min-width: 992px){
    :root {
        font-size: 100%;
        border: 1px solid #a90ab8;
    }
}

/* specific */

.x-small {
    font-size: 0.5rem;
}

.small {
    font-size: 1rem;
}

.large {
    font-size: 1.5rem;
}

.x-large {
    font-size: 2rem;
}

footer {
    font-size: 1.5rem;
}

.description {
    font-size: 1em;
}
